files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFpTCCBI2gAwIBAgISBFcszNj2abFUJffk9lWXNYoSMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0yMDA1MjQwNjA5NDZaFw0y
      MDA4MjIwNjA5NDZaMEExPzA9BgNVBAMTNm1zZnR0dC1lbnYuZWJhLTMyeTJpM2Rm
      LnVzLWVhc3QtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTCCASIwDQYJKoZIhvcNAQEB
      BQADggEPADCCAQoCggEBANaaEgqFZBEkBX8Qthz6l87E7Mm+dk1KX7CZcAhpBWeC
      ysO8ll0qeuzBvsNMXtrTtBAVRLUj678xsE7ROilfrLGjpqxOzfmMlpv+IRlCsyQX
      IeYRhQOvW5S1j+Neguxyu6sAtxKV0oFRmJ2H0lnIvvhd908x3KB417IsdtvKyEA1
      9GQXsoi6RThV4hFh4fJJ4+O4j72u6kqt1sYRk19c8p2Md6fFCV33xlV/2VWWSjDd
      iv7ESx77d2nQeZuRsgrNCHcVGq845BKjS4fk2Mma4vWoc+zyIiBlQS2jes0BObUS
      zJou/gAqA80JZfZFPtZ1VjoHlfe50ienNxQCscucL10CAwEAAaOCAowwggKIMA4G
      A1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDAYD
      VR0TAQH/BAIwADAdBgNVHQ4EFgQU4C9ub+zH2sbypTfod8TZckF3RdEwHwYDVR0j
      BBgwFoAUqEpqYwR93brm0Tm3pkVl7/Oo7KEwbwYIKwYBBQUHAQEEYzBhMC4GCCsG
      AQUFBzABhiJodHRwOi8vb2NzcC5pbnQteDMubGV0c2VuY3J5cHQub3JnMC8GCCsG
      AQUFBzAChiNodHRwOi8vY2VydC5pbnQteDMubGV0c2VuY3J5cHQub3JnLzBBBgNV
      HREEOjA4gjZtc2Z0dHQtZW52LmViYS0zMnkyaTNkZi51cy1lYXN0LTEuZWxhc3Rp
      Y2JlYW5zdGFsay5jb20wTAYDVR0gBEUwQzAIBgZngQwBAgEwNwYLKwYBBAGC3xMB
      AQEwKDAmBggrBgEFBQcCARYaaHR0cDovL2Nwcy5sZXRzZW5jcnlwdC5vcmcwggEF
      BgorBgEEAdZ5AgQCBIH2BIHzAPEAdwDwlaRZ8gDRgkAQLS+TiI6tS/4dR+OZ4dA0
      prCoqo6ycwAAAXJFhCECAAAEAwBIMEYCIQDjR5YhiVxW5XiN+NELSvsZAQ99gFi0
      joBeBvKbBXUCfQIhALT+fruNsCrJkKXQSwxZ/pAMyrcX3q//Ho+1yo+z2RpLAHYA
      B7dcG+V9aP/xsMYdIxXHuuZXfFeUt2ruvGE6GmnTohwAAAFyRYQhLQAABAMARzBF
      AiBnBAImTzZFuzmoxGR75hsM3hmB4pBHxB5PWQuUDmd9cAIhANG3hk2ioP03+ptY
      U6KQw+L5Ib7cJKvPd0dI2iX2JpilMA0GCSqGSIb3DQEBCwUAA4IBAQAkl93Qn87J
      kP7E09O7oGaW3c6EMrN49kZgArOEYW5E0JRaWxu4A68IfQvtftQYV+ygxtaecTIf
      QYKPB0Owq9H3v7T3tx4fHKyf2bUddZyxzCzxsG+ZeNEl81kWfOd42aHmyCO0qi+R
      NReyVR4faQvd3OgxZfFSA5l0EIJzAjnrt2B/v+Rr+Nr13avm2QPIplBUWiFsRBpG
      30DZ6aArnxcP/PKwIzRzd4wDyLYu2X4g/Cwvc8mmlFS///qpy7J4swgGGxRH/WLU
      nrggExS1vyUBLNtsMtUYYpGyAXpjfOQh3rNSBORLoDvnbHBrlfVND/uSfIIqIrEr
      23va3bG7PAvQ
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    content: https://elasticbeanstalk-us-east-1-666093873142.s3.amazonaws.com/server.key